body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="url"],
textarea {
  font-size: var(--input-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
