// Primary
$color-primary-1: #003366;
$color-primary-2: #FFD700;
$color-primary-3: #3FC6EB;

// Primary Shades
$color-primary-50: #E5F2FF;
$color-primary-100: #CCEAFF;
$color-primary-200: #80BFFF;
$color-primary-300: #80C9FF;
$color-primary-400: #66BFFF;
$color-primary-500: #0073E6;
$color-primary-600: #0059B3;
$color-primary-700: #004080;
$color-primary-800: #00264D;
$color-primary-900: #000D1A;

// Neutral Gray
$color-neutral-gray-50: #F9FAFB;
$color-neutral-gray-100: #F2F4F7;
$color-neutral-gray-200: #E4E7EC;
$color-neutral-gray-300: #CED2DA;
$color-neutral-gray-400: #97A1AF;
$color-neutral-gray-500: #637083;
$color-neutral-gray-600: #414E62;
$color-neutral-gray-700: #344051;
$color-neutral-gray-800: #202B37;
$color-neutral-gray-900: #141C24;

// Info
$color-info-50: #E5F4FF;
$color-info-100: #CCEAFF;
$color-info-200: #99D5FF;
$color-info-300: #80C9FF;
$color-info-400: #66BFFF;
$color-info-500: #33A9FF;
$color-info-600: #0095FF;
$color-info-700: #0076CC;
$color-info-800: #005999;
$color-info-900: #003B66;

// Error
$color-error-50: #FEE7E7;
$color-error-100: #FCCFCF;
$color-error-200: #FA9E9E;
$color-error-300: #F98686;
$color-error-400: #F76E6E;
$color-error-500: #F64C4C;
$color-error-600: #F20D0D;
$color-error-700: #C20A0A;
$color-error-800: #910808;
$color-error-900: #610505;

// Warning
$color-warning-50: #FFF9EB;
$color-warning-100: #FFEECC;
$color-warning-200: #FFDD99;
$color-warning-300: #FFD480;
$color-warning-400: #FFC34C;
$color-warning-500: #FFB21A;
$color-warning-600: #F5A300;
$color-warning-700: #CC8800;
$color-warning-800: #996600;
$color-warning-900: #664400;

// Success
$color-success-50: #ECF9F2;
$color-success-100: #D9F2E5;
$color-success-200: #B3E5CC;
$color-success-300: #9FDFBF;
$color-success-400: #79D2A6;
$color-success-500: #40BF7F;
$color-success-600: #39AC73;
$color-success-700: #309161;
$color-success-800: #26734C;
$color-success-900: #194D33;

// Grey Cold
$color-grey-cold-50: #F1F3F4;
$color-grey-cold-100: #E4E7E8;
$color-grey-cold-200: #C7CED1;
$color-grey-cold-300: #B9C2C6;
$color-grey-cold-400: #ABB6BB;
$color-grey-cold-500: #8F9CA3;
$color-grey-cold-600: #73848C;
$color-grey-cold-700: #5C6970;
$color-grey-cold-800: #454F54;
$color-grey-cold-900: #2E3538;

// Grey Classic
$color-grey-classic-50: #F2F2F2;
$color-grey-classic-100: #E6E6E6;
$color-grey-classic-200: #CCCCCC;
$color-grey-classic-300: #BFBFBF;
$color-grey-classic-400: #B3B3B3;
$color-grey-classic-500: #999999;
$color-grey-classic-600: #808080;
$color-grey-classic-700: #666666;
$color-grey-classic-800: #4D4D4D;
$color-grey-classic-900: #333333;

// Silver Chalice
$color-sliver-chalice-50: #F3F2F2;
$color-sliver-chalice-100: #E7E5E4;
$color-sliver-chalice-200: #CECBCA;
$color-sliver-chalice-300: #C2BEBD;
$color-sliver-chalice-400: #B6B0AF;
$color-sliver-chalice-500: #9D9695;
$color-sliver-chalice-600: #857C7A;
$color-sliver-chalice-700: #6A6362;
$color-sliver-chalice-800: #504A49;
$color-sliver-chalice-900: #353231;