.DisclosurePanel {
    &.is-anchored {
        border-color: var(--color-primary);
        border-width: 2px;
    }
}

.stationery-modal {
    width: 600px;
    height: 308px;
}

.stationeries-table {
    :deep(.k-label) {
        width: 100%;
    }
    
    :deep(.k-grid-content) {
        overflow: auto;
    }
}
