<KendoLoadingComponent
  :isLoading="isLoading"
  :isShowSavingText="isShowSavingText"
/>

<Breadcrumb />

<KendoPageTitleComponent
  :title="$t('dataProtectionLicencePage-title')"
  :description="$t('dataProtectionLicencePage-description', { firmName: currentFirmName })"
  :routeName="helperService.removeStringSpacesThenSlash(AppConstants.dataProtectionRoute)"
/>

<KendoForm>
  <KendoFormElementComponent ref="formElement" v-slot="{ form }">
    <KendoTabStrip
      class="TabStrip TabStrip--lined"
      :selected="currentTab"
      :tabs="tabs"
      @select="selectTab"
    >
      <template v-slot:details>
        <PanelComponent title="Data Protection Licence">
          <div class="row mb-3">
            <KendoGenericInputComponent
              :id="setUniqueIdentifier( '-licenseNumber')"
              class="col-lg-4"
              name="licenseNumber"
              label="Data Protection Licence Number"
              v-model="dataProtectionLicence.licenseNumber"
              :input-class="isFieldModified('licenseNumber') ? 'is-border-warn' : ''"
            />

            <KendoDatePickerInputComponent
              :id="setUniqueIdentifier( '-endDate')"
              class="col-lg-4"
              name="endDate"
              label="End Date"
              v-model="dataProtectionLicence.endDate"
              :input-class="isFieldModified('endDate') ? 'is-border-warn' : ''"
              epoch
            />

            <KendoDatePickerInputComponent
              :id="setUniqueIdentifier( '-renewalDate')"
              class="col-lg-4"
              name="renewalDate"
              label="Renewal Date"
              v-model="dataProtectionLicence.renewalDate"
              :input-class="isFieldModified('renewalDate') ? 'is-border-warn' : ''"
              epoch
            />
          </div>

          <a href="javascript:;" @click="isViewDocument = true">
            <strong>View Protection Data Licence</strong>
          </a>
        </PanelComponent>

        <PanelComponent title="Data Protection Overview">
          <NumberListComponent
            :items="[`Does ${currentFirmName} process Personal Data for any other purpose other than for providing its services to the Data Subject (e.g For Marketing)?`, `Does the ${currentFirmName} use automated individual decision-making, which means making a decision solely by automated means without any human involvement and also do profiling, which means automated processing of personal data to evaluate certain aspects about an individual?`]"
            align-top
            class="OverviewList"
          >
            <template #item-1="{ item }">
              <ToggleButtonComponent
                reverse
                wide
                :text="item"
                v-model="dataProtectionLicence.isForAnyOtherPurpose"
              />
            </template>

            <template #item-2="{ item }">
              <ToggleButtonComponent
                reverse
                wide
                :text="item"
                v-model="dataProtectionLicence.isUsedAutomatedProcessing"
              />
            </template>
          </NumberListComponent>
        </PanelComponent>
        <PanelComponent title="Nominated Individual / Data Protection Officer">
          <div class="row">
            <template
              v-if="!dataProtectionLicence.dataProtectionOfficer.isOrganisation"
            >
              <div class="col-lg-4">
                <KendoNameTitleComponent
                  name="dataProtectionOfficer.title"
                  :id="setUniqueIdentifier('-dataProtectionOfficer.title')"
                  label="Title"
                  :is-required="false"
                  v-model="dataProtectionLicence.dataProtectionOfficer.title"
                />
              </div>

              <KendoGenericInputComponent
                :id="setUniqueIdentifier( '-forename')"
                class="col-lg-4"
                name="forename"
                label="Forename(s)"
                v-model="dataProtectionLicence.dataProtectionOfficer.forename"
              />

              <KendoGenericInputComponent
                :id="setUniqueIdentifier( '-surname')"
                class="col-lg-4"
                name="surname"
                label="Surname"
                v-model="dataProtectionLicence.dataProtectionOfficer.surname"
              />
            </template>

            <KendoFirmFinderComponentAsync
              v-else
              :id="setUniqueIdentifier(AppConstants.firmDetailsRoute + '-firmName')"
              companyNameLabel="Firm Name"
              :companyName="dataProtectionLicence.dataProtectionOfficer.companyName"
              :companyNumber="dataProtectionLicence.dataProtectionOfficer.companyNumber"
              :firmReferenceNumber="dataProtectionLicence.dataProtectionOfficer.firmReferenceNumber"
              :isInitializing="true"
              :isEnableSearch="false"
              @onCompanyDetailUpdated="(values) => {
                                dataProtectionLicence.dataProtectionOfficer.companyName = values.companyName;
                                dataProtectionLicence.dataProtectionOfficer.companyNumber = values.companyNumber;
                                dataProtectionLicence.dataProtectionOfficer.firmReferenceNumber = values.firmReferenceNumber;
                              }"
            />

            <KendoEmailAddressInputComponent
              :id="setUniqueIdentifier( '-email')"
              class="col-lg-4"
              name="email"
              label="Email"
              v-model="dataProtectionLicence.dataProtectionOfficer.email"
            />

            <KendoTelInputComponent
              :id="setUniqueIdentifier( '-contactNumber')"
              class="col-lg-4"
              name="contactNumber"
              label="Contact Number"
              v-model="dataProtectionLicence.dataProtectionOfficer.contactNumber"
            />

            <div class="col-lg-4">
              <KendoRoleComponent
                :id="setUniqueIdentifier( '-role')"
                name="role"
                label="Role"
                v-model="dataProtectionLicence.dataProtectionOfficer.role"
              />
            </div>
          </div>
        </PanelComponent>
      </template>

      <template v-slot:categoriesOfPersonalData>
        <h4 class="text-primary font-size-lg mb-4">
          Categories of Personal Data
        </h4>

        <CategoriesOfPersonalData v-model="dataProtectionLicence" />
      </template>

      <template v-slot:timingOfDataCollection>
        <h4 class="text-primary font-size-lg mb-4">
          Timing of Data Collection
        </h4>

        <TimingOfDataCollection v-model="dataProtectionLicence" />
      </template>

      <template v-slot:methodsOfDataCollection>
        <h4 class="text-primary font-size-lg mb-4">
          Methods of Data Collection
        </h4>

        <MethodsOfDataCollection v-model="dataProtectionLicence" />
      </template>

      <template v-slot:purposeOfDataCollection>
        <h4 class="text-primary font-size-lg mb-4">
          Purpose of Data Collection
        </h4>

        <PurposeOfDataCollection v-model="dataProtectionLicence" />
      </template>
    </KendoTabStrip>
  </KendoFormElementComponent>
</KendoForm>

<DataProtectionLicenseViewer
  v-model="isViewDocument"
  :document-url="dataProtectionLicence.documentUrl"
/>
