<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az-func-web-scraper-sun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e063e03e-0e7b-4de8-92a6-05baf6dba6a4/resourceGroups/complydex_resource_group/providers/Microsoft.Web/sites/az-func-web-scraper-sun</ResourceId>
    <UserName>$az-func-web-scraper-sun</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az-func-web-scraper-sun.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>