
.save-btn {
    display: flex;
    padding: 12px 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    /*font-family: Figtree;*/
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.btn-disabled {
    background: var(--neutral-gray-300);
    color: var(--text-text-disabled);
}

.btn-enabled {
    background: var(--brand-color-brand-primary);
    color: var(--color-white);
}

.check-icon {
    color: var(--text-text-disabled);
}

.check-icon-good {
    color: var(--color-success-600);
}

.save-dialog {
    display: flex;
    width: 357px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--text-text-disabled);
    background: var(--screen-background-background-primary);
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.30);
}

.k-button-solid-base:hover, .k-button-solid-base.k-hover {
    background: var(--brand-color-brand-primary);
}

