.container {
    position: relative;
}

h3 {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.child-dropdown1 {
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    border-color: rgba(152, 141, 141, 0.39);
    outline: none;
}

.child-textbox {
    width: 500px;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 5px;
    border-color: rgba(152, 141, 141, 0.39);
    outline: none;
    border-width: 1px;
}

.child-textbox:focus {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.child-checkbox {
    margin-top: 15px;
}

.btn {
    margin-top: 30px;
    margin-right: 20px;
    padding: 15px 15px;
}